:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #c0c0c0;
  --color-dark-grey: #2d2d2d;

  --color-primary: #ff6600;
  --color-primary-light: #ff9832;
  --color-danger: #cd3400;

  --line-height: 1.6;
}
