.header {
  background-color: var(--color-dark-grey);
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  // padding-left: var(--outer-padding);
  // padding-right: var(--outer-padding);
  padding: 0.375rem var(--outer-padding);

  .contacts {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .whatsapp,
    .telegram {
      width: 2.5rem;
      height: 2.5rem;
    }

    .phone {
      font-size: 2rem;
      color: var(--color-white);
    }
  }
}
