.advantage {
  background-color: var(--color-white);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 14em;
  height: 4.4em;
}
